body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
}
	
#header {
	padding: 20px;
	background: #333;
	border-bottom: 1px solid #fff;
}
	
#header h1 {
	padding: 0;
	margin: 0;
	color: #ccc;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 180%;
}
	
.clearing
{
	clear: both;
}

#content
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2em;
}

table.mainTable
{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 0px;
}

table.mainTable th
{
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	background-color: white;
}

table.mainTable td
{
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	background-color: white;
}

table.minorTable
{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 0px;
}

table.minorTable th
{
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: white;
}

table.minorTable td
{
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: white;
}

table.minorTableWide
{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 0px;
	width: 100%;
}

table.minorTableWide th
{
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: white;
}

table.minorTableWide td
{
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: white;
}

.tableBottomLink
{
	margin-top: 0.2em;
}

.errorP
{
	color: red;
}

.tableTitle
{
	margin-top: 1.5em;
}

.tableTitle a
{
	margin-left: 3em;
}

.tableTitle h3
{
	display: inline;
}

.hiddenDiv
{
	display: none;
}
